.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.part {
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
}

a.part:hover, a.part:link, a.part:visited, a.part:active {
  text-decoration: none !important;
  color: #132c15;
}

a.part::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

a.part:hover {
  transform: scale(1.02);
}

.canvastext {
  text-decoration: none;
  color: darkslategrey;
}

.requirement {
  background-color: rgb(143, 228, 180);
  border-radius: 10px;
  align-items: flex-start;
}
.solution {
  background-color: rgb(148, 215, 239);
  border-radius: 10px;
}
.problem {
  background-color: rgb(255, 199, 198);
  border-radius: 10px;
}

.architecture-inception-canvas .business-case {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
}


.architecture-inception-canvas .functional-overview {
  grid-column: 1;
  grid-row: 3 / span 3;
}

.architecture-inception-canvas .quality-goals {
  grid-column: 1;
  grid-row: 6 / span 3;
}

.architecture-inception-canvas .business-context {
  grid-column: 2 / span 2;
  grid-row: 3 / span 6;
}

.architecture-inception-canvas .organisational-constraints {
  grid-column: 4;
  grid-row: 3 / span 3;
}

.architecture-inception-canvas .technical-constraints {
  grid-column: 4;
  grid-row: 6 / span 3;
}

.architecture-inception-canvas .architecture-hypotheses {
  grid-column: 1 / span 2;
  grid-row: 9 / span 2;
}

.architecture-inception-canvas .technical-challenges {
  grid-column: 3 / span 2;
  grid-row: 9 / span 2;
}


.architecture-inception-canvas .part {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.architecture-inception-canvas .requirement {
  background-color: rgb(143, 228, 180);
  border-radius: 10px;
  align-items: flex-start;
}

.architecture-inception-canvas .problem {
  background-color: rgb(255, 199, 198);
  border-radius: 10px;
}

.architecture-inception-canvas .solution {
  background-color: rgb(148, 215, 239);
  border-radius: 10px;
}

.architecture-communication-canvas .value {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}

.architecture-communication-canvas .stakeholder {
  grid-column: 1;
  grid-row: 3 / span 6;
}

.architecture-communication-canvas .functions {
  grid-column: 2;
  grid-row: 3 / span 2;
}

.architecture-communication-canvas .context {
  grid-column: 2;
  grid-row: 5 / span 4;
}

.architecture-communication-canvas .quality {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.architecture-communication-canvas .decisions {
  grid-column: 3;
  grid-row: 5 / span 2;
}
.architecture-communication-canvas .components {
  grid-column: 3 / span 2;
  grid-row: 7 / span 2;
}

.architecture-communication-canvas .technology {
  grid-column: 4;
  grid-row: 3 / span 4;
}
.architecture-communication-canvas .risks {
  grid-column: 1 / span 4;
  grid-row: 9 / span 2;
}

a.gridlink {
    all: unset;
    cursor: pointer;
}

.icon {
  font-size: 25px;
  padding: 5px;
}

/* Flexbox Utilities */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.square {
  height: 25px;
  width: 25px;
  border-color:rgba(0, 0, 0, 0.247);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

/**
  Color utilities
*/
.green {
  background-color: rgb(143, 228, 180);
}

.red {
  background-color: rgb(255, 199, 198);
}

.blue {
  background-color: rgb(148, 215, 239);
}

/**
 Canvas Legend
**/
.legend {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

.legend > .placeholder {
  grid-column: 1; 
  grid-row: 1;
}

.legend > .entries {
  grid-column: 2; 
  grid-row: 1; 
  display:grid; 
  grid-template-columns: 30px 1fr; 
  margin-top: 20px
}

.legend > .green {
  grid-column: 1; 
  grid-row: 1;
}

.legend > .green ~ .label {
  grid-column: 2;
  grid-row: 1;
}

.legend > .blue {
  grid-column: 1; 
  grid-row: 2;
}

.legend > .blue ~ .label {
  grid-column: 2;
  grid-row: 2;
}

.legend > .red {
  grid-column: 1; 
  grid-row: 3;
}

.legend > .red ~ .label {
  grid-column: 2;
  grid-row: 3;
}

/**
  Please use landscape warning
**/

.please-use-landscape {
  background-color: rgb(255, 199, 198);
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
